Screen {
    layout: vertical;
}

#main_container {
    height: 1fr;
}

#rooms_list {
    width: 40%;
    border: solid $accent;
    overflow: auto;
}

#room_detail {
    width: 60%;
    border: solid $accent;
    overflow: auto;
}

#power_display {
    height: auto;
    border: solid $accent;
}

/* General styling */
.auto-width {
    width: auto;
}

.auto-height {
    height: auto;
}

.auto-size {
    width: auto;
    height: auto;
}

/* Input styling */

.inline-input {
    background: $background;
    color: $text;
    width: auto;
}

/* Room list styling */
.room-item {
    width: 100%;
    height: auto;
    padding: 0 1;
}

.room-item:focus {
    background: $panel;
}

/* Room type colors */
.room-type-base {
    color: slategrey;
}

.room-type-generator {
    color: firebrick;
}

.room-type-crafting {
    color: gold;
}
